*{
  margin:0;
}
body{
  font-family: 'Instrument Sans';
  font-style: normal;
  background: #FFFFFF;
  
}
button {
  cursor: pointer;  /* Changes the cursor to a hand icon when hovering over the button */

}

.header{
  position: sticky;
  left: 0px;
  top: 0px;

  display: flex;
  align-items: center; 

  justify-content: space-between;
  background:white;
  padding: 1rem 2rem;

  z-index: 2;
}

#search-bar {
  display: none;
  margin-left: 0;
  width: 70%;
  padding: .3rem .5rem;
  font-size: 16px;
  border-radius: 20px;
  border-style: none;
  border:#0000002d solid 1px;
}

#search-button {
  cursor: pointer;
}

.navbar{
  position:sticky;
  left: 0px;
  bottom: 0px;
  
  padding: 1rem 2rem;
  margin:0;
  display: flex;
  justify-content: space-between;
  align-items:center;


  background: #FFFFFF;
  border-top: 1px solid rgba(28, 34, 44, 0.25);

}
.navbar>button{
  background: none;
  border: none;

}



h1{
 
font-family: 'Instrument Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #293241;

}

#homepage-container{
  margin: 0 0 0 5%;
  overflow: hidden;

}

#checkin{
  display:vertical-align;
  margin-right: 5%;

}

#streak{
  display:flex;
  align-items: center; 
  justify-content: center;  /* Centers horizontally */

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;

  color: #EE6C4D;
  gap: 1rem;

}

/* Rectangle 5 */
#checkin-button{
  background: #293241;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-style: none;
  border-radius: 10px;
  margin: 1rem 0;
  color: #FFFFFF;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  padding: 1rem 0;
  display:flex;
  align-items: center; 
  justify-content:center;
  gap: .5rem;
}


.recs{
  padding-top: 2rem;
  margin-right:0%;

}

.recs>h1{
  margin-bottom: 1rem;
}

.carousel-container{
  display: flex; /* Set container to flexbox */
  flex-direction: row; /* Align items in a row */
  height:100%;
  align-items: center; 
  justify-content:flex-start;
  margin-left: 7%;
  margin-right:0%;
  padding-right:5%;
  overflow-x: scroll;

  z-index: 1;

}

.carousel{
  flex-shrink: 0;
  width: 80%;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 15px 15px;
  scale: 95%;
}


/* image 2 */
.img-carousel{
  width: 100%; /* Fill the width of the container */
  height: 100%; /* Fill the height of the container */
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;

}

.rec-info{
  box-sizing: border-box;
  position: relative;
  left: 0px;
  top: -30px;
  padding: 1rem;
  height: 2.8rem;

  background: #FFFFFF;
}

.low-crowd{
  display: flex;
  align-items: center; 
  margin: .5rem 1rem;

  /* Crowds Lowest at 6:30 AM */

font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 13px;

color: #000000;


}

.rec-info>.location{
  margin: 0 .2rem;
}

b{
  margin-left: .2rem;
  color:#EE6C4D;
}


.forecast-container{
  padding:2rem 0;

}

#forecast-title{
  display: flex;
  align-items:center;
}

#forecast-title>h1{
  padding-right:1rem;
}

.days{
  display:flex;
  align-items: center; 
  justify-content: space-between;
  margin: 1rem 3rem 0;

}

.location{
margin-top: 1rem;
margin-left:  1rem;

font-family: 'Instrument Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #3D5A80;
cursor: pointer;
width:fit-content
}

.beach-forecast{
  display:flex;
  align-items: center; 
  justify-content: space-between;
  margin: 1rem 3.5rem 0 3rem;
}

#info{
  cursor: pointer;
}

.header>svg{
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 15rem;
  background-color: #555;
  color: #293241;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left:-800%;
  /* Union */

  background: #FFFFFF;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF transparent transparent transparent;

}

p{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}

